[2020-03-18 21:29] SiAdcock opened #280 "Text input field label should be bold"
**Describe the bug**
 The input label should be bold by default

**Screenshots**

Live example:

<img width="539" alt="Screenshot 2020-03-18 at 21 26 20" src="https://user-images.githubusercontent.com/5931528/77009072-35952d80-695f-11ea-88d0-297aee9b2566.png">

(https://www.theguardian.design/2a1e5182b/p/097455-text-input-field/b/050445)

In Figma:

<img width="475" alt="Screenshot 2020-03-18 at 2

[2020-03-18 21:31] SiAdcock opened #281 "Text input field should have blue outline when active"
**Describe the bug**
Text input field should have blue outline when active

**Screenshots**

Live example:

<img width="536" alt="Screenshot 2020-03-18 at 21 30 10" src="https://user-images.githubusercontent.com/5931528/77009397-c10ebe80-695f-11ea-8dcc-99bb7299099d.png">

(https://www.theguardian.design/2a1e5182b/p/097455-text-input-field/b/050445)

In Figma:

<img width="468" alt="Screenshot 2020

[2020-03-18 21:49] SiAdcock opened #282 "Allow checkbox to have supporting text but no label"
**Describe the solution you'd like**
I would like to be able to use the supporting text without having to use a label

**Describe alternatives you've considered**

I've added a checkbox with a label that simply says "Confirmation", just so I can use the suporting text. This is not ideal

![76360776-9300fd00-6315-11ea-857e-5391fa7e3a16](https://user-images.githubusercontent.com/5931528/77010724-41c

[2020-03-24 10:24] JamieB-gu opened #292 "Font Style Normal"
https://github.com/guardian/source/blob/d42e9821c4bd1d7a7ac2a01a00be7b5821987117/src/core/foundations/src/typography/fs.ts#L30

As `italic` is an optional parameter for fonts, there are three states it can be in: `true`, `false` and `undefined`. Should `font-style` be set explicitly to `normal` when `italic` is set explicitly to `false`? In essence, the following:

<dl>
  <dt>true</dt>
  <dd><code

[2020-03-25 14:21] webb04 commented on #280
🙋‍♂️Taking a look at this one.

[2020-03-25 14:39] SiAdcock opened #293 "Add ChromaticQA"
**Describe the solution you'd like**

DCR has been using [ChromaticQA](https://www.chromaticqa.com/) to excellent effect for cross-browser, multi-breakpoint visual regression testing. Since we now have a standard licence, we can start using it in other codebases too. Source will find a lot of benefit from it, especially cross-browser testing.

[2020-03-25 14:47] SiAdcock opened #294 "Enable ref forwarding for leaf components"
**Is your feature request related to a problem? Please describe.**

In React, refs provide a reference to the DOM element associated with a React element. However React components cannot directly accept ref props.

**Describe the solution you'd like**

We need a way to access references to DOM elements associated with instances of Source components. Possible implementations would be:

- [Ref forwa

[2020-03-25 14:54] SiAdcock commented on #292
I like that, let's roll with it! Thanks for suggesting @JamieB-gu. Do you fancy raising a PR?

[2020-03-25 16:06] JamieB-gu commented on #292
I've discovered that because there are [defaults specified](https://github.com/guardian/source/blob/d42e9821c4bd1d7a7ac2a01a00be7b5821987117/src/core/foundations/src/typography/api.ts#L15) for each font, the `undefined` value never actually makes it through. Therefore I think we have two options:

1) Always explicitly set `font-style`, to either `italic` or `normal`
2) Make the `italic` property "

[2020-03-25 16:14] SiAdcock commented on #292
I think the second option sounds reasonable. It's a breaking change, but I think it'll be manageable because I doubt many people (anyone?) is currently relying on the default explicitly adding `font-style: normal`.

[2020-03-25 20:38] SiAdcock commented on #294
Hi @liywjl 👋

I'm raising this after we discussed it many weeks ago! I did try to fix it but became bogged down by TypeScript issues. Did you find a way of making this work without any changes to Source?

[2020-03-26 09:14] JamieB-gu commented on #292
Ok, can do that.

Why do you prefer 2) over 1) out of curiosity?

[2020-03-26 09:22] SiAdcock commented on #292
@JamieB-gu

- to preserve some semblance of the cascade / UA styling
- to reduce the amount of CSS that gets shipped

[2020-03-26 10:08] JamieB-gu commented on #292
Do you think there's any value in creating a custom type for this?

[code]

or

[code]

[2020-03-26 10:38] SiAdcock commented on #292
Interesting. It raises a few questions for me (sorry for bombardment, feel free to chat me if easier!)

To be clear, are you proposing a change to the API from:

[code]

to:

[code]
?

How does unset differ from not providing any value for `font-style`?

Would unset be the default if `fontStyle` is not specified?

Unset is a great property, but unsupported in IE11. I wonder what the behaviour woul

[2020-03-26 10:42] SiAdcock commented on #280
FIxed by #296

[2020-03-26 10:42] #280 closed

[2020-03-26 10:52] JamieB-gu commented on #292
Yes 🙂

It doesn't, I was just using `Unset` for the value representing the case when it's not set. It could be any name really, I used that one because it's a familiar term in the CSS world.

I see that as being the default if the user passes nothing:

[code]

 I guess it could just as easily be `Option<FontStyle>` where `FontStyle` is the narrower:

[code]

[2020-03-26 14:21] SiAdcock commented on #292
The 👍s have spoken:

<img width="946" alt="Screenshot 2020-03-26 at 14 16 04" src="https://user-images.githubusercontent.com/5931528/77656827-59163480-6f6c-11ea-8aa4-42133c9db413.png">

It was always going to be a breaking change anyway, we might as well go all-in and change the API up completely! I agree with the change, it makes it clearer, is more predictable and extensible.

I prefer the `Opti

[2020-03-27 14:03] #281 closed

[2020-03-27 14:53] #282 closed

[2020-03-31 13:40] JamieB-gu commented on #292
Based on a discussion on this, the proposed API would be consumed like this (via @SiAdcock):

[code]

[2020-04-01 13:45] SiAdcock opened #304 "Prevent CI action running on both master and gh-pages branches"
**Describe the bug**
Currently the CI action runs on both `master` and `gh-pages` branches. This is unnecessary

**Expected behavior**
Only the Deploy to GitHub Pages action should run on `master`. We don't need any actions to run explicitly on `gh-pages`.

[2020-04-02 11:21] JamieB-gu opened #305 "Browser/Node.js Targets"
**Is your feature request related to a problem? Please describe.**

We're targeting approximately three different environments (in the editorial stream):

- Node (10 for DCR, 12 for AR)
- Dotcom client-side (Safari, Firefox, Chrome, Edge, Internet Explorer etc.)
- Apps client-side (recent Safari and Chrome - webviews)

The support requirements for apps and dotcom on the client in particular are qu

[2020-04-02 11:27] gtrufitt commented on #305
Note that on DCR we're actually [generating two bundles](https://github.com/guardian/dotcom-rendering/blob/master/scripts/webpack/browser.js#L92). One is what you describe, the other is using https://github.com/babel/preset-modules which will bundle for browsers that support `type="module"` and therefore reduce the inline polyfilling.

I don't know the setup for this but that would be my preferenc

[2020-04-03 09:55] SiAdcock commented on #305
I empathise with this reasoning. Would it be possible to guage the impact of shipping agressively transpiled code to apps? I wonder how much extra code is generated by supporting IE11. @gtrufitt in DCR, what is the difference in terms of % of code when comparing the `preset-modules` bundle with the `preset-env` bundle?

As for polyfilling, I'm currently against including polyfills in the `dist` co

[2020-04-03 10:29] #292 closed

[2020-04-03 15:27] SiAdcock opened #306 "RFC: customising the style of Source components"
In an effort to maximise the usefulness of components, we support consumers customising styles. We do this for two reasons:

1) it's an opportunity for consumers to experiment with new visual patterns and appearances without having to codify them in Source
2) it ensures consumers can use our components even if they don't fully match the desired visual requirements. We must accept that our applicat

[2020-04-06 13:30] JamieB-gu commented on #306
That's a really interesting idea, I like it! I think we'd have to try it out with a few components to know whether it works for us.

Is the advantage that it has over `className` that it limits the extent to which consumers can reach in and change parts of the component?

I'm not sure I understand the difference between `cssOverrides` and `className`. Do the `cssOverrides` styles get applied inlin

[2020-04-07 10:50] JamieB-gu commented on #304
Is it this line that you're talking about here?

https://github.com/guardian/source/blob/0b9bceeaa9ebe0d45d2e62f8f9069db907ee53fa/.github/workflows/ci.yml#L5

[2020-04-07 12:30] SiAdcock commented on #304
Yeah. So I want the CI workflow to run only on branches that are not called `master` or `gh-pages`. Is that possible, do you know? My regex / globby skills failed me!

[2020-04-07 12:38] SiAdcock opened #311 "Make tertiary buttons transparent"
**Is your feature request related to a problem? Please describe.**

Currently tertiary buttons take an explicitly defined background that happens to be identical to the background colour of the theme in which they ought to be used. For instance, on default theme, the tertiary button has a white background.

![Screenshot 2020-04-07 at 13 36 39](https://user-images.githubusercontent.com/5931528/7866

[2020-04-07 13:02] JamieB-gu commented on #304
Based on my reading of the docs, I *think* that PR should do it.

[2020-04-07 13:30] #304 closed

[2020-04-07 14:01] SiAdcock commented on #306
🎉 Thanks! Agreed. Let me know if you can think of any use cases for this.

No. If anything `className` limits what parts can be styled because the `className` only gets applied to one element. For instance, with `<TextInput>`, the `className` is [passed to the `<input>` element](https://github.com/guardian/source/blob/master/src/core/components/text-input/index.tsx#L77), so it's not possible to us

[2020-04-07 16:05] #311 closed

[2020-04-08 08:15] JamieB-gu commented on #306
What about?

[code]

I'm not sure I understand the mechanics of this, but probably best for us to discuss separate from this issue.

[2020-04-08 08:49] SiAdcock commented on #306
Sadly not, since the `TextInput` JSX looks like this (simplified):

[code]

@emotion/core takes the styles you define as template literals, serialises them and generates CSS. It targets the CSS at an auto-generated class that it assigns to the appropriate element. Then in the DOM, it adds the CSS to a style tag and adds that style tag to the bottom of the head.

In most cases, we're [composing a l

[2020-04-12 15:42] oliverlloyd commented on #293
I've created a [new project](https://www.chromaticqa.com/builds?appId=5e933197d94d9c002275a15e) and [added the lib](https://github.com/guardian/source/pull/324) to run Chromatic snapshots.

### Next steps
Either configure your CI server to run the snapshot on each push or add a [github action](https://github.com/chromaui/action) to do it. We've been using Github actions over in [DCR](https://githu

[2020-04-15 15:25] SiAdcock commented on #293
Fixed in #324, thanks @oliverlloyd 🎉

[2020-04-15 15:25] #293 closed

[2020-04-16 11:23] SiAdcock opened #326 "Wide icons should always align with centre of text in Link component"
**Describe the bug**

When overriding the font size in Links with icons, the vertical alignment of the icon is off:

![Screenshot 2020-04-16 at 12 21 55](https://user-images.githubusercontent.com/5931528/79450534-e6353200-7fdc-11ea-9af7-02e7f06e9338.png)

[code]

**Expected behavior**

Ideally, icons should always align with the centre of the text, even if text is overridden

**Additional info**

[2020-04-16 14:50] #326 closed

[2020-04-16 15:04] sndrs opened #328 "@guardian/src-svgs is missing the esm build"
**Describe the bug**
`@guardian/src-svgs` `dist` dir only includes a cjs `index.js`, but the package declares:

[code]

Running `yarn build` in `src/core/svgs` _does_ generate the file though.

**To Reproduce**
1. `yarn add @guardian/src-svgs`
2. look in `node_modules/@guardian/src-svgs/dist`

**Expected behavior**
Both files should exist

cc @ripecosta

[2020-04-16 15:09] SiAdcock commented on #328
Oh lordy, good catch! Rather annoying that `npm` will implicitly include the `main` file but not the `module` file.

This might explain why the footprint of `src-svgs` is so large in DCR, despite the fact barely any are being used!

![Screenshot 2020-04-16 at 16 08 41](https://user-images.githubusercontent.com/5931528/79473187-b1d16e00-7ffc-11ea-8605-ec8789d3cd9b.png)

[2020-04-16 15:22] sndrs commented on #328
ah man, yeah! yeah this was using rollup and we coudn't work out why it was complaining it needed `namedExports` and `resolve` help. i guess webpack would happily enough just keep going with the `main` field if `module` failed, but rollup wouldn't without help

[2020-04-16 15:28] SiAdcock commented on #328
Interesting point of contrast. `Fail fast` vs `Avoid failure at all costs`!

[2020-04-20 16:15] gtrufitt opened #334 "Handling PeerDepedencies"
**Is your feature request related to a problem? Please describe.**
When installing src-components into consumers, peer dependencies easily fall out of sync because `0.x versioning doesn't match on major - it only exact matches.

For example, DCR's `@guardian/src-button` dependency is currently is `0.17.0` whereas consent mangement platform is `0.16.1`.

This does not match on the major because it'

[2020-04-20 16:58] oliverlloyd commented on #334
👍
src-foundation code is in production, being used by the browsers of real users so a `1.0` label seem fair

[2020-04-20 20:31] #328 closed

[2020-04-20 22:32] SiAdcock commented on #334
Thanks for sharing this. I'm really concerned about this cascading problem with dependencies such as discussion-rendering and CMP bringing different `peerDependencies` up to a consumer application like dotcom-rendering. I understand your frustration and I want to do what I can to alleviate it.

I want to give you some context on how I've been working because I think the problem lies in the release

[2020-04-21 07:37] gtrufitt commented on #334
Thanks for the thorough writeup here Simon! Really appreciate the explanation, it does make a lot of sense - I guess this is a consequence also of keeping the main and all sub-packages in sync, any breaking change in any package requires a breaking change in all.

One thing to note, in a 0.x release - patch releases *aren't matched* on minor

![image](https://user-images.githubusercontent.com/6380

[2020-04-21 09:00] SiAdcock commented on #334
I think the carat is important:

![Screenshot 2020-04-21 at 09 53 04](https://user-images.githubusercontent.com/5931528/79846154-fe7ac780-83b5-11ea-8544-5819b01c661a.png)

The [semver range calculator](https://semver.npmjs.com/) is a great tool though, thanks for introducing me to it!

I'll keep this thread updated with changes to our process and a timescale for version 1 release. Thanks for raisi

[2020-04-21 09:02] gtrufitt commented on #334
👍 👍 My bad!

[2020-04-21 09:54] SiAdcock commented on #334
Yes, that took me by surprise also! How can three little numbers be so confusing?

[2020-04-21 11:40] sndrs commented on #334
have you thought about using something like https://github.com/semantic-release/semantic-release?

[2020-04-21 12:00] sndrs commented on #334
semantic release [allows for sharable configs](https://semantic-release.gitbook.io/semantic-release/usage/shareable-configurations) – i wonder if using it (or something similar) for internally-directed packages would be useful?

combining it with consumer repos using dependabot auto-merging + cypress + chromatic feels like you pretty much automate a merge in source master cascading out to CMP and

[2020-04-23 15:37] oliverlloyd opened #339 "LinkButton does not support icons"
**Describe the bug**
I can provide the `icon` and `iconSide` props to `Button`s but they're not supported for `LinkButton`s

[code]

**To Reproduce**
[code]

**Expected behavior**
Icons in my link butons pleaseee!

[2020-04-23 16:25] SiAdcock opened #340 "Indeteminate checkbox background is black on iOS Safari"
**Describe the bug**
Indeterminate styling looks weird on iOS Safari

**Screenshots**

Looks like:

![Image from iOS (32)](https://user-images.githubusercontent.com/5931528/80123758-3dac4280-8587-11ea-86de-2556e5d8918c.jpg)

Should look more like desktop version:

![Screenshot 2020-04-23 at 17 24 28](https://user-images.githubusercontent.com/5931528/80123862-5a487a80-8587-11ea-84cc-c858bcc46985.pn

[2020-04-24 10:55] SiAdcock commented on #339
`<LinkButton>`s have slightly different behaviour to buttons in that Source only allows the `<SvgArrowRightStraight>` icon to be shown, on the right hand side.

You can activate this by setting the prop `showIcon={true}`

- [API ref](https://www.theguardian.design/2a1e5182b/p/435225-button/t/205aa6)
- [Usage guidance](https://www.theguardian.design/2a1e5182b/p/435225-button/t/867c03)

Does this he

[2020-04-27 10:46] webb04 opened #341 "Atom components"
We've had some discussions about where Atoms could live for dotcom-rendering and apps-rendering and whether they can be shared. Would the design system be a good place to keep atom components?

Possible alternatives:
- Continue developing separately on apps-rendering, dotcom-rendering and maybe editions?
- Share atom components in a different repo/package

I've made a [pr](https://github.com/guard

[2020-04-27 11:06] oliverlloyd commented on #341
What's an Atom?

Sounds like a facetious comment but is actually genuine. I see this word used a lot in various contexts and I've never really been able to figure it out

[2020-04-27 11:14] JamieB-gu commented on #341
@philmcmahon @akash1810 @tomrf1 would you be able to give a brief summary of what atoms are?

[2020-04-27 13:41] SiAdcock commented on #341
Hi @webb04

I understand atoms to be platform agnostic, individually publishable and embeddable pieces of content. There are a number of atom types (quizzes, recipes, charts, etc) that all conform to a contract understood by our platforms (frontend and the live news apps). New atoms are built by editorial using [Atom Workshop](https://atomworkshop.gutools.co.uk/find). The web templates for support

[2020-04-27 14:16] philmcmahon commented on #341
Just to add from Simon's explanation - technically an atom is a thing with these fields: https://github.com/guardian/content-atom/blob/master/thrift/src/main/thrift/contentatom.thrift#L43

^ that also has a list of all the current atom types.

Almost all videos on the website are wrapped inside a 'media atom' which helps keep track of the youtube metadata etc.

[2020-04-27 14:23] gtrufitt commented on #341
+1

cc/ @shtukas - at the moment we're just moving forward with atom renderer

[2020-04-28 08:00] akash1810 commented on #341
Agreed with @SiAdcock. Source isn't the right home for atoms. Would be better for Atom Renderer to be a consumer of Source. This keeps a nice separation of concerns and keeps Source unopinionated as it just cares about the fundamentals (button, input, etc) rather than article elements.

[2020-04-28 09:31] webb04 commented on #341
Thanks all. Would be good to discuss what you were planning with atom renderer @gtrufitt @shtukas. Atoms are one of the last things we need to support in articles for apps-rendering so it would be good to know if we can contribute to that work!

[2020-04-28 09:31] #341 closed

[2020-04-29 09:04] JamieB-gu opened #343 "Larger Text Sans For Guardian Labs"
**Is your feature request related to a problem? Please describe.**

Headlines on Guardian Labs articles appear in a `Text Sans` font, at a size of `34px` (example [here](https://www.theguardian.com/women-engineering-infrastructure-atkins/2020/apr/01/its-an-exciting-time-for-engineers-the-path-to-decarbonising-the-uks-energy-mix)). The largest size offered by Source for `Text Sans` is `24px` (see [

[2020-04-29 09:12] paperboyo commented on #343
Yeah. We don’t have new versions of it. Also, we do not load it on dotcom. Also, We never had license to use the full family on the web/apps.

[2020-04-29 19:36] oliverlloyd commented on #339
Yes!

(Sorry, completely missed this earlier.)

[2020-04-29 19:36] #339 closed

[2020-04-30 12:51] webb04 commented on #343
Going to raise a PR, please stop me or reject it if not wanted.

[2020-05-01 14:04] #343 closed

[2020-05-07 15:30] SiAdcock commented on #334
We're now at v1.0.0. I hope this helps a little with version management 🙂

[2020-05-07 15:53] adamnfish opened #355 "Getting started should show how to use the library"
**Is your feature request related to a problem? Please describe.**

The getting started guide shows how to *install* the library, but not how to use it.

**Describe the solution you'd like**

A hello world example application that includes the source library would be ideal. If that's too much effort to build and maintain then some examples of setting up a project to use some of the components woul

[2020-05-07 16:00] adamnfish commented on #355
Actually, I think the docs on each component probably do address my question. I guess I'd suggest the following:
* renaming getting-started to "installing source"
* or at least mentioning on getting started that usage is with the components so people know to keep looking

I think you've done a great job already :-)

[2020-05-07 20:28] SiAdcock commented on #355
Thanks @adamnfish for looking through the docs and raising this thoughtful and I believe important issue. I don’t think it deserves to be closed and I’ll certainly look to address the points you raise.

I just ran through an imagined user flow of a developer looking at the docs for the first time to confirm. It’s definitely not obvious how to get from installation to up-and-running.  I’m going to

[2020-05-07 21:42] oliverlloyd commented on #355
I'm reopening this because I think it's a really valid point. The docs _are_ superb and really useful to me but they don't serve the first time user well and we should try to give people fresh to the repo a great experience.

For me, when I consume new libraries my first pass through the docs is typically where I'm on the just-get-it-working journey. I'll come back later for the details or to lear

[2020-05-13 08:47] SiAdcock opened #359 "Button text should not wrap"
**Describe the bug**

Button and LinkButton components occupy as much space as they need to, determined by the length of the content and limited by a container. If the space allocated by a container is too small for the label, the text wraps, in a hideous fashion. This serves as a nice reminder that button text should never wrap, but we could present this in a more graceful way, that doesn't total

[2020-05-13 12:52] SiAdcock opened #360 "RFC: controlled vs uncontrolled inputs"
## Uncontrolled

Currently Source input components such as Checkbox and Radio use an [uncontrolled](https://reactjs.org/docs/uncontrolled-components.html) approach to state management. The state is stored in the DOM rather than within the React state.

It is not necessary to explicitly set a default value, nor have that value stored in React state.

Consumers of these components can access the sta

[2020-05-13 13:01] jonathonherbert commented on #360
I'd agree that controlled inputs would be best.

The exceptions to this rule that I've seen have generally been performance related – for example, when the cost of passing the output of a rich text editor through the state management loop has had an impact on the user experience.

If that's not a concern here, then controlled inputs sound 👌

[2020-05-13 13:24] jeanlauliac commented on #360
From my experience building complex forms at Facebook, go 100% with controlled components. With uncontrolled components, it's not long before you get duplicated state, the state of the DOM and the state you inevitably need to process the data; and duplicated state soon leads to out-of-sync values.

For rich text editors, use pre-existing solutions like https://draftjs.org/. These are very hard to

[2020-05-13 13:28] JamieB-gu commented on #360
I would agree with the comments above. I think using controlled components avoids the possibility of state synchronisation bugs.

[2020-05-14 14:49] twrichards commented on #360
Thank you @SiAdcock for following up so diligently, I had totally forgotten about this.

As the originator of the suggestion that `checked` be mandatory to encourage us consumers of _Source_ not to make mistakes/bugs (it was quite a hard bug to track down), it would be **great** to see these become 'controlled'. 😄

[2020-05-28 10:44] webb04 opened #371 "Additional icons for apps-rendering"
We are still using an icon font in apps-rendering but would like to use the SVG icons in source.

There's some icons missing we would need before fully removing that icons font:
- Camera
- Stars
- Quote
- Comment

I've got a Figma file with these SVGs so I could make a PR to add them, would this be useful?

<img width="203" alt="Screen Shot 2020-05-28 at 11 45 58" src="https://user-images.githubus

[2020-05-28 11:07] paperboyo commented on #371
Out of curiosity, which one are we talking about? There were so many…

[2020-05-28 11:50] webb04 commented on #371
We're using this one on apps

![IMG_5297](https://user-images.githubusercontent.com/11618797/83137850-c025a600-a0e1-11ea-919e-5aee968eb663.PNG)

[2020-05-28 14:40] SiAdcock commented on #371
Thanks @webb04 . We have the camera, star and comment icons [in Figma already](https://www.figma.com/file/Ai7AELHC6KCz38qKZkvuHo/Icons?node-id=55%3A2), we just need to add React versions of the SVGs to the [`svgs`](https://github.com/guardian/source/tree/master/src/core/svgs) and [`icons`](https://github.com/guardian/source/tree/master/src/core/icons) packages.

The quote icon is interesting, it s

[2020-05-28 14:55] JamieB-gu commented on #371
I think there's a reasonable chance of the quote icon showing up elsewhere, e.g. Reader Revenue. It's currently in a few places on the Patrons site for example.

[2020-05-28 14:56] SiAdcock commented on #371
@JamieB-gu that's good to know, thanks!

@webb04 If you could share the quote icon, I'll add it to Figma, and then to the Source repo and the Source website :relaxed:

[2020-05-28 15:18] webb04 commented on #371
I found this in one of @benwuersching 's designs

[quote.svg.zip](https://github.com/guardian/source/files/4696527/quote.svg.zip)

[2020-05-29 16:34] SiAdcock commented on #355
Hi @adamnfish, @oliverlloyd

I've made some changed to the [Developer Guide](https://www.theguardian.design/2a1e5182b/p/876251-getting-started) on the website, notably:

- Added more navigational links to improve the flow through the documentation
- Added a link to the "Components overview" page that serves as an entry point to more detailed documentation for each component
- Added an [Example Usa

[2020-06-01 13:56] #371 closed

[2020-06-01 13:58] SiAdcock commented on #371
Thanks for sharing the file @webb04. Sorry, I got a bit carried away and implemented these additions myself 🙄

Please let me know if there's any issue.

[2020-06-01 15:31] #359 closed

[2020-06-04 15:47] gtrufitt commented on #305
You can see this as it's tracked on any PR https://github.com/guardian/dotcom-rendering/pull/1542#issuecomment-638880237

I don't know the total total, but a couple of kb on our main bundle.

Seems a lot! I wonder what modern code is so heavily used?!

[2020-06-04 15:55] SiAdcock commented on #305
This is really useful, thanks!

The above config knocks 3KB off _each bundle_, both modern and legacy. I'm not sure why this is happening. I expected the `defaults` not to include any Node.js versions, so adding `maintained node versions` would make the bundles heavier. I'm probably doing something wrong.

[2020-06-16 09:28] SiAdcock commented on #340
Akemi noticed something similar happening with checkboxes on iOS 12 on the [contribute page](https://support.theguardian.com/uk/contribute)

<img width="387" alt="Screenshot 2020-06-16 at 10 27 25" src="https://user-images.githubusercontent.com/5931528/84757436-1177d580-afbc-11ea-9da4-990e2ec1009c.png">

[2020-06-17 16:02] SiAdcock commented on #340
I think this was fixed in #397. I'll close for now and we can reopen if it's still occurring in Contributions when they upgrade to 1.4.1

[2020-06-17 16:02] #340 closed

[2020-06-22 15:41] SiAdcock opened #402 "RFC: CSS reset"
Source does not make any assumptions about the user's environment and as such has no opinion on the consuming application's choice of CSS reset. This causes a few problems:

- duplication of common patterns across components
- sending redundant CSS to users
- visual inconsistencies across applications

These problems go away if we recommend a CSS reset. But providing a recommendation is challengin

[2020-06-23 10:25] gtrufitt commented on #402
I am +1 on the https://hankchizljaw.com/wrote/a-modern-css-reset/ reset. I think it makes sensible assumptions and is well documented here. I've not used it in anger, but we could certainly switch it out on DCR and see what the visual regression throws up!

A recommended reset I believe is a core requirement in order to be able to achieve the goals of the design system in the long term - it should

[2020-07-07 15:31] SiAdcock commented on #355
As an update to this I've also created the [Source Welcome Pack 🤗 🎊 🤝](https://docs.google.com/document/d/12yv328Z0Ube-x2bwgRZjh51nMC1ls_23OICLpsyQmFE/) (internal only) to present to new starters and people who are exploring Source for the first time. The goal is to try and make our onboarding _even friendlier_: it contains more background info and links to the most important docs pages. I wonder

[2020-07-07 15:46] SiAdcock opened #423 "RFC: <Text> component"
The [typography API](https://www.theguardian.design/2a1e5182b/p/930d69-overview/b/06df96) provides a low level interface for generating CSS that complies with our [typography usage guidelines](https://www.theguardian.design/2a1e5182b/p/930d69-overview/b/78d0d9).

However I've also been considering whether it would be useful to provide a component-based abstraction layer around this API. This would

[2020-07-09 09:20] sndrs commented on #423
i guess this is the first thing that needs to be answered? I can't really offer much on that i'm afraid, but before adding anything to the api surface/maintenance costs, i think that would be important to understand

a couple of other thoughts:

1. my gut says that adding a new node for styling is something we should avoid. each one has a cost, but this wouldn't actually offer any new functionalit

[2020-07-10 10:52] SiAdcock commented on #423
Good points, thanks @sndrs. Point 1 is solid and makes me feel uneasy about this type of component. I think points 2 and 3 apply to all components, but I agree that adding a purely presentational component for DevX purposes exacerbates the problems.

I appreciate that this proposal might fall into the YAGNI file. If nobody has a problem with the typography API as it stands then it's a solution loo

[2020-07-10 13:33] SiAdcock opened #431 "RFC: renaming some breakpoints"
## Why?

Breakpoint names follow expected screen sizes and make assumptions about the number of CSS pixels that would be available on, say, a desktop monitor.

On top of this, there's the awakward `leftCol` breakpoint that doesn't map to a device size. Instead it's simply a good breakpoint at which to introduce a left column on fronts and articles.

## Alternative naming 1

Our breakpoints could b

[2020-07-10 13:46] gtrufitt commented on #431
I think I have a preference for Alt 1 - not tying to 'screen widths' seems to have longevity over things like 'phablet' or 'tablet' that are fairly meaningless in today's device landscape.

It means that we focus on building against relative widths rather than devices and those widths can evolve directly as pixel values.

On that point, I think the `fluid_` prefix is more meaningful than `mobile_`

[2020-07-10 13:58] SiAdcock commented on #431
Thanks @gtrufitt. Your second point is a good one that I hadn't thought of. It reminds me a bit of a Luke Wroblewski suggestion that [human erognomics don't change much](https://twitter.com/lukew/status/273453112902172672). I wonder if we could tap into that?

- `palm_small`
- `palm_medium`
- `palm_large`
- `palm_xlarge`
- `desk_small`
- `desk_medium`
- `desk_large`
- `desk_xlarge`

[2020-07-10 14:01] JamieB-gu commented on #423
I would agree with this concern; I'm also reluctant to introduce non-semantic additional elements if possible. I wonder if a HOC would solve this? It doesn't necessarily add any new elements, but extracts the CSS prop from an existing element and adds to it. The downside to this is that it might be brittle, I've had trouble getting HOCs to type-check the way I want in the past.

[2020-07-10 14:50] gtrufitt commented on #431
Ah that's interesting!

[image: image.png]

--

This e-mail and all attachments are confidential and may also be
privileged. If you are not the named recipient, please notify the sender
and delete the e-mail and all attachments immediately. Do not disclose the
contents to another person. You may not use the information for any
purpose, or store, or copy, it in any way.  Guardian News & Media Limit

[2020-07-13 08:50] blongden73 commented on #431
I spoke to Akemi at length about this the other day. What I like about our breakpoints currently or at least what I like about leftCol (I know you hate this one). But what I think it useful is that it very practically describes what the design does at that breakpoint across the majority of platforms. This is a nice way to look at things - I think you are right to try and make this human readable!

[2020-07-13 09:00] nicl commented on #431
Re @blongden73 I agree with a lot of what you say - tying names to our design approach is helpful to remember things. Another reason it's so hard to remember things is that we have so many breakpoints(!). Is there any thinking still ongoing about removing some? Some of the breakpoints presumably add very little value to users.

[2020-07-13 09:52] SiAdcock commented on #431
@blongden73

This is a great point and helps to clarify what's happening here. Our grid and layout are foundational, and essential to the visual coherence of our different platforms. If most of our platforms have the concept of a left column, and there's a change to the grid above this breakpoint for this reason, then the name does make a lot of sense. It doesn't align so well with the other names

[2020-07-13 10:05] nicl commented on #431
@SiAdcock I definitely agree that separating out the breakpoints and tweakpoints in the code will help here. So 👍 to that!

It's also worth noting of course that even if the grid doesn't change,  there's still a *lot* that can change across the mobile tweakpoints - the power of CSS basically - so the cost of these additional breakpoints is still high. (Too high for some I would argue.)

The other

[2020-07-13 13:46] SiAdcock commented on #431
@nicl I take your concerns on board, I'm familiar with the complexity introduced by having a lot of available breakpoints. It's something that helps us stand out against our competitors and enables to experiment quickly with new formats. I've had similar discussions with @blongden73 in the past, and he is aware and sympathetic to this point.

Removing a breakpoint can be tricky with some upfront c

[2020-07-14 06:27] duarte commented on #431
I'd suggest `phablet` as a candidate for removal instead of `mobileLandscape`, which is quite useful at least from a design perspective, as the layouts that work at 375px tend to 'break' around the 480 mark. On the other hand, nothing very useful needs to happen in the 80px between `phablet` and `tablet`, in my experience.

[2020-07-14 09:29] SiAdcock commented on #431
Interesting, thanks @duarte! `phablet` is used a lot less frequently in Frontend.

If we were to consider smooshing `mobileLandscape` and `phablet` together, we need to be mindful that a whopping 20% of page views are on `phablet`-sized devices. It would be worth assessing, from a design point of view, the benefit to these users of the tweaks we're applying in the 660-740px range. If the benefit i

[2020-07-14 15:48] SiAdcock commented on #423
Thanks @JamieB-gu

I'm reluctant to add HOCs to the public API of Source because the brittleness you mentioned. I've also heard concerns from others that HOCs are hard to reason with. I'm not sure if that's a general view.

Thanks for your feedback 🙂

[2020-07-14 15:53] SiAdcock commented on #360
## Update

In v1.9.0, we're adding controlled component support to every form component in Source. This essentially means fixing animation bugs, ensuring that React is the single source of truth for state (where possibel) and updating the documentation to recommend using controlled components.

However, we're stopping short of insisting that all components must be controlled by React because this

[2020-07-15 22:19] SiAdcock opened #441 "Form field validation"
This is a central issue for any bugs relating to form field validation. This may include:

- error styling and when it does and doesn't get applied
- form submission
- error messaging and summaries
- user agent styling and error tooltips
- assistive technology support of error messaging and validation

## Using this issue

If you discover any issues relating to form field validation, error styling

[2020-07-22 15:07] SiAdcock commented on #360
Addressed in #432, #434, #436, #437, #438

[2020-07-22 15:07] #360 closed

[2020-07-22 15:09] SiAdcock commented on #294
Not much action on this, so I'm closing for now. Feel free to re-open if this is still causing a problem

[2020-07-22 15:09] #294 closed

[2020-07-24 15:27] gtrufitt commented on #423
Sorry, forgot to reply to this, but I echo the other comments. From my perspective, I don't think it brings enough value for the cognitive load it might bring. The current API works well IMO and I think keeps a nice understandable separation of concerns for styling on a className rather than prop styling.

[2020-07-30 09:49] SiAdcock opened #471 "Link components with icon do not wrap correctly"
**Describe the bug**

In Link and LinkButton, we use `display: inline-flex` to pull icons down to the baseline of the link text description. This means long text descriptions with icons don't wrap correctly and sit on a separate line to the surrounding text.

**Expected behavior**

In Link, at least, the text should wrap correctly.

**Screenshots**

Current behaviour:

![Screenshot 2020-07-30 at 1

[2020-08-10 16:11] SiAdcock opened #488 "RFC: Grids and page layout"
The most-requested feature for Source at the moment is support for Guardian's [grid layout system](https://www.theguardian.design/2a1e5182b/p/41be19-grids). This includes abstractions around:

- common media queries
- the number of columns available at each breakpoint
- the width of columns at each breakpoint
- the width of gutters between columns
- whether a border appears between columns
- horiz

[2020-08-10 17:22] adamnfish commented on #488
I think this comes down to a question of what your team's goals are and how different you feel the usability of these two approaches are today.

If the usability of each is similar then there's no benefit to tying yourself down*. You're probably better off sticking with the more flexible option. There's nothing to stop you from adding tooling or helpers on top to make life easier for React users.

[2020-08-11 08:50] nicl commented on #488
Thanks @SiAdcock for starting the conversation!

I'm keen on the Component-based approach. Here's why:

Most of the time with our React/Emotion/Source/Typescript ('REST') stack, we want components that are *isolated*. This would appear to favour the CSS approach. However, layout works against this - as components push each other around, and the key CSS approaches to layout typically require attrib

[2020-08-12 07:31] TomPretty commented on #488
Yeah I'm also in favour of the Component-based approach. I would argue (perhaps incorrectly) that a component like sidebar shouldn't know how many columns it spans. That should be the responsibility of its parent. I think that helps to maximize reusability (e.g. having different layouts which show/hide the sidebar at different breakpoints). In which case, with the css approach you'd still have a b

[2020-08-12 12:00] i-hardy commented on #488
While I think it would be nice to have the CSS functions as an option, I strongly favour the component approach as the primary API. I agree with @TomPretty that it's often desirable to decouple a component from its position in a layout so we wouldn't necessarily be saving on markup in any case, and the grid components make the layout intent very clear and declarative for the reader without having

[2020-08-13 11:16] gtrufitt commented on #488
+1 on the component approach. The API is far more meaningful and matches similar APIs currently built into Dotcom Rendering and Discussion Rendering.

[2020-08-13 11:20] gtrufitt commented on #488
+1 on the component approach. I think that it feels far more meaningful and the css-maker approach in DCR is less understandable than if we were to refactor to use the component approach.

The component approach is easier to reason with and is more aligned to keeping naturally-coupled concepts together in the code, making it easier to visualise the layout by reading the code.

[2020-08-20 09:23] TomPretty commented on #423
I like this proposal. It's pretty similar to the Typography component from Material UI. The less css the better imo (I'm actually really fond of utility css frameworks like [tailwind](https://tailwindcss.com/) which add all the styles to the markup). If I can just think in terms of React components and not stop to come up with class names like `secondaryCtaSupportingText`, I'm happy 😃.

I guess th

[2020-08-21 15:03] gtrufitt opened #503 "RFC: Date Formatting"
**Is your feature request related to a problem? Please describe.**

There are certain formatted dates across platforms used in the context of articles and cards. These date formats can get out of sync across platforms. Date formatting is performed in different ways across platforms (and modules used in platforms).

|||
|--|--|
| ![image](https://user-images.githubusercontent.com/638051/90901442-da

[2020-08-24 08:47] nicl commented on #503
1. I really like the though of date formats in Source
2. I'm not sure about this API - in particular, the `DateContext` - as it requires too much of Source. It's a complicated API interface, and couples Source too much to specifics, so it seems a bit brittle. I'd prefer the API to simply provide a few 'blessed' date formats, and leave platforms to decide which to use where.

e.g. closer to:

[code

[2020-08-24 09:05] SLambrakis commented on #503
On the iOS live app timezones do indeed come from the system. Ideally the date format also would, but we've ended up with a bunch of custom [formats](https://github.com/guardian/ios-live/blob/503b347794e64bf56061a2144c37e9e2adb71cca/GLA/GLA/Classes/Date.swift#L74) [all](https://github.com/guardian/ios-live/blob/503b347794e64bf56061a2144c37e9e2adb71cca/GLA/GLA/Classes/GLAArticleHtmlRenderer.m#L56)

[2020-08-24 09:10] gtrufitt commented on #503
+1 this is nicer @nicl

Maybe the API could take the 'hours' to switch between relative and absolute date formats too so that's abstracted away from the platform complexity but I definitely think we'll be able to distill all the date formats into a more defined type.

[2020-08-24 09:11] gtrufitt commented on #503
Interesting! Maybe this is worth aligning too then?

[2020-08-24 09:19] gtrufitt commented on #503
Given the above, maybe the API then looks like.

https://developer.apple.com/documentation/foundation/dateformatter/style

[code]

That feels to me like giving the DS enough info to 'design' the date, without being overly contextually specific?

[2020-08-24 09:51] JamieB-gu commented on #503
We could instead define it as the TZ locations that correspond to the time zones we display:

- London
- Sydney
- New York

then use the current date to figure out whether that should be the Daylight Saving variant or not?

Fair - I think this makes sense if `DateString` is a custom type, but worth noting that `type DateString = string` will act as a type alias rather than a new type, so it's inte

[2020-08-24 15:10] SiAdcock commented on #503
Thanks @gtrufitt for starting this conversation and to everyone else for getting involved. It's started to identify some of the intracacies of this problem.

There are a lot of angles we'd need to consider.

- I think it's likely that date and time format will become part of Core Source rather than the Editorial Source
- We know that different date and time formats are being used across the existi

[2020-08-28 10:06] gtrufitt commented on #503
https://github.com/xxczaki/light-date

[2020-09-01 15:02] JamieB-gu commented on #503
This sounds sensible. So perhaps the Core Source function looks something like this:

[code]

And if we want, Editorial Source could provide a wrapper that also takes the Edition:

[code]

Coming back to this again, I think it solves the timezone problem in general but pushes the handling of Daylight Saving shifts onto the caller? Because if the caller has to provide the offset (e.g. `+09:00`) the

[2020-09-04 15:31] maxspencer commented on #503
Cool topic and lots of good points raised. In Android we have access to an API provided by the Java standard library called `DateFormat`. Our current usage of it is inconsistent, but it's a pretty cool API with great features, especially for ensuring dates look "right" in the user's locale/language.

It's not quite this simple, but at a high level the `DateFormat` class provides this function:

``

[2020-09-09 09:54] SiAdcock opened #526 "RFC: Layout components"
From #488, there was broad agreement in favour of a JSX-based API. I've started spiking a set of layout components.

# Abandoning the Grid components

I have moved away from the existing [Grid component API](https://theguardian.design/2a1e5182b/p/978527--grid-component/b/304251) for a few reasons:

1. The columns / spans abstraction is confusing and hard to remember. It expects the developer to kn

[2020-09-09 12:57] SiAdcock commented on #488
@adamfish

There are some really useful questions here, thanks so much for engaging. I think it’s reasonable to build layout components using the CSS maker approach, and then providing a React wrapper that teams could use if they would it be useful. I’m keen to take advantage of JSX, the ergonomics of which is the main reason a lot of our projects are now built on React. If a better framework or t

[2020-09-09 12:57] #488 closed

[2020-09-09 15:11] TomPretty commented on #526
I'm so onboard for all of these!

## Container

This looks neat - I think I'm effectively doing something similar right now:

[code]

Would happily swap this out for a `<Container />`!

## Stack

Yes. I think it would be great to have the option of horizontal/vertical. If I could do something like:

[code]
To get

<img width="257" alt="Screenshot 2020-09-09 at 15 44 53" src="https://user-images.gi

[2020-09-10 12:48] SiAdcock commented on #526
@TomPretty

Cool idea! In order to preserve the "do one thing" spirit of these components, I might propose a sixth component for that:

## Inline

[code]

Children will be laid out one next to the other.

This is a great point! Thanks 🙏

[2020-09-24 13:54] nicl commented on #526
👍 this feels like a good, simple, help for common layout stuff.

[2020-09-30 14:51] mxdvl commented on #526
Hopefully we’ll be able to use this on the new engineering website, as well!

[2020-10-01 10:53] SiAdcock opened #549 "Fix lint warnings"
**Describe the bug**

`typescript-eslint` is currently generating [151 warnings](https://github.com/guardian/source/runs/1182566249?check_suite_focus=true#step:4:293) on each build. The longer we fail to fix them, the more warnings we will accrus.

**To Reproduce**

[code]

**Expected behavior**

There should be no warnings

**:warning: Important note**

It is not necessary to fix all these warnin

[2020-10-01 13:41] SiAdcock opened #550 "Back to top link protrudes in footer"
**Describe the bug**

The back to top link sits along the horizontal boundary line of the footer, and as such protrudes outside of the footer bounding box (see screenshot). This looks odd if the container above the footer is not the same colour as the footer itself. This means the footer component is making an assumption about surrounding components, making it [less reusable](https://www.theguardi

[2020-10-01 14:01] SiAdcock opened #551 "Allow choice cards to wrap"
**Describe the bug**

If choice cards don't fit into their container, they should wrap onto the next line

**To Reproduce**

Constrain the width of the container for a set of choice cards. Observe that the cards break out of their container

**Expected behavior**

The cards should wrap onto the next line. Currently, cards take up `1/n` of the available space, where `n` is the number of choice card

[2020-10-01 14:12] norahumasi commented on #550
Hello, can you assign this issue to me? Thank you!

[2020-10-01 14:17] Kingarturs commented on #549
Can i work on this? ✌

[2020-10-01 14:18] SiAdcock commented on #549
@Kingarturs certainly, thanks so much! Let me know if you need any help 🎉

[2020-10-01 15:17] norahumasi commented on #550
Hi, can you help me run it? I just did yarn and yarn storybook and it seens compiling and running fine but when I access localhost:9009 nothing happens. Thank you!

[2020-10-01 16:25] SiAdcock commented on #550
Interesting, let’s see what’s up. What operating system are you using? And would you be able to copy-paste the output from running yarn storybook? Many thanks

[2020-10-01 17:34] rrrahal commented on #551
Hello,

I was looking at this problem and I have a question.
Is there a max size that a choice card should have?
Because when we set something like: `grid-template-columns` you have to set some sort of ceiling for the grid to know when a column ends, otherwise the button will occupy the whole space available (`flex-grow: 1`)

I got it with `grid-template-columns: repeat(auto-fill, minmax(140px, 1f

[2020-10-01 20:56] SiAdcock commented on #551
Hi @rrrahal. Thanks so much for taking a look at this 🙏

It's such a tricky problem! I suspect that you are correct and that there's no way of doing this without hardcoding either a ceiling or a minimum width for choice cards. However I don't think we should do this. It would be too constraining and would make these components less useful.

I have an alternative proposal that involves expanding th

[2020-10-02 11:22] rrrahal commented on #551
I like expanding the API.
I managed to do it but I couldn't figured it out using flex (it was the same issue involving the size of the choice card that wraps).
Using grid on the other hand it was pretty easy, apart from some small margin changes.
I will open a PR for you to check and see if it is useful.

[2020-10-02 12:44] SiAdcock opened #555 "Allow consumer to visually hide text labels"
**Is your feature request related to a problem? Please describe.**

It is not always necessary to visually show a text label above a user input field such as text input field, text area or select box. An example would be when there is a single user input field on the page and there is enough additional context on the page to inform the user what kind of data is required.

<img width="1495" alt="Sc

[2020-10-02 12:51] Agreon commented on #555
I would love to try that :)

[2020-10-02 12:52] SiAdcock commented on #555
@Agreon That's great, thanks so much! Let me know which component(s) you'd like to work on and I can assign you 😄

[2020-10-02 12:54] Agreon commented on #555
I guess i will have a look at TextInput first.. If that's not big of a change or others claim them, i could add the others as well.

[2020-10-02 12:56] SiAdcock commented on #555
Thanks @Agreon. Please let me know if you need any help getting started

[2020-10-02 12:58] SiAdcock opened #556 "React warning on passing prop to DOM element"
**Describe the bug**

In Storybook we're seeing the following error in dev on the [icon-only link button story](http://localhost:9009/?path=/story/button--icon-only-link-buttons) (<-- this link only works when running `yarn storybook` locally)

[code]

This is because we are passing the (now unused) [showIcon prop](https://github.com/guardian/source/blob/4637c1142c1b2063e08fa1167354408c5b980173/sr

[2020-10-02 12:58] Agreon commented on #555
@SiAdcock I have one question: If the prop "hideLabel" is set, should the optional text also not be shown?

[2020-10-02 13:04] SiAdcock commented on #555
Good question. I say we hide that "Optional" text also. It would look weird to have that dangling there on its own 😄

[2020-10-02 13:13] Agreon commented on #555
@SiAdcock Is there already some handling in the code i can take as an example for only hiding things visually? Screen reader support seems [interesting](https://stackoverflow.com/questions/26032089/in-html-how-can-i-have-text-that-is-only-accessible-for-screen-readers-i-e-fo)

[2020-10-02 13:21] SiAdcock commented on #555
Sure! You can take a look at [how the button component](https://github.com/guardian/source/blob/4637c1142c1b2063e08fa1167354408c5b980173/src/core/components/button/index.tsx#L111-L123) achieves this behaviour. It uses the [`visuallyHidden`](https://www.theguardian.design/2a1e5182b/p/6691bb-accessibility/t/1285a8) CSS snippet (defined [here](https://github.com/guardian/source/blob/4637c1142c1b2063e

[2020-10-02 14:21] kala2 commented on #556
Hello, could you assign it to me please?

[2020-10-02 14:56] SiAdcock commented on #556
Certainly, thanks @kala2 🙏

[2020-10-02 20:03] kala2 commented on #556
Sorry, issue is available for someone else to take it

[2020-10-02 20:53] SiAdcock commented on #549
Fixed in #552

[2020-10-02 20:53] #549 closed

[2020-10-02 21:35] g-ravity commented on #556
I can take up this issue. Please assign me, if this is still available.

[2020-10-02 22:05] SiAdcock commented on #556
@g-ravity thanks so much, it's all yours!

[2020-10-02 22:22] SiAdcock opened #558 "React warning on LinkButton: each child should have a key prop"
**Describe the bug**

In Storybook we're seeing the following warning in dev on the [link button story](http://localhost:9009/?path=/story/button--priority-link-buttons-light) (<-- this link only works when running `yarn storybook` locally)

[code]
I believe this is due to the way we're composing elements using an array (see [possible culprit](https://github.com/guardian/source/blob/3d412147c96cff

[2020-10-02 22:25] mathieumure commented on #558
I can work on that if you want

[2020-10-02 22:26] SiAdcock commented on #558
@mathieumure thanks so much! 🙏 Let me know if you need any help

[2020-10-02 22:59] mathieumure commented on #558
@SiAdcock I submit a pull request to fix it :wink: :point_right:  https://github.com/guardian/source/pull/559
Tell me if is it ok for you ?

[2020-10-05 09:01] #558 closed

[2020-10-05 09:52] #555 closed

[2020-10-05 09:53] SiAdcock commented on #551
Fixed by #554

[2020-10-05 09:53] #551 closed

[2020-10-05 10:01] SiAdcock commented on #526
@frankie297 has kindly agreed to look at the Tiles component.

@amyhughes is currently working on the Inline component

[2020-10-05 10:16] mathieumure commented on #558
@SiAdcock, as you have multiple hacktoberfest tags in your issues, I suggest you to add the `hacktoberfest` topic on your repository description 😉 . More info here 👉 https://twitter.com/hacktoberfest/status/1312221208667185153

[2020-10-05 10:26] SiAdcock commented on #558
@mathieumure Thanks for letting me know, I've done that now 👍

[2020-10-06 10:49] SiAdcock commented on #550
Hi @norahumasi, did you manage to get Storybook up and running? Please let me know if you need any help 🙂

[2020-10-07 09:40] SiAdcock commented on #556
Hi @g-ravity, are you still able to work on this? Let me know if you need any help 😄

[2020-10-08 13:56] mathieumure commented on #556
Hi, I can work on that if you want @SiAdcock 😄

[2020-10-08 13:59] SiAdcock commented on #556
Oh cool, nice to see you again! Thanks @mathieumure 😄

[2020-10-08 14:31] mathieumure commented on #556
@SiAdcock here is the fix, tell me if it suits your need 👉  https://github.com/guardian/source/pull/567

[2020-10-08 14:32] mathieumure commented on #550
@SiAdcock I can also work on it, if it's still available

[2020-10-08 15:02] #556 closed

[2020-10-08 15:03] SiAdcock commented on #550
You are storming @mathieumure! 👍

[2020-10-08 17:10] mathieumure commented on #550
Hi, @SiAdcock, I just submit a PR that's makes the back to top button included inside the footer. Tell me if the angle of the correction suits you.

[2020-10-14 13:09] liywjl opened #575 "Buttons prop `children` mandatory"
**Is your feature request related to a problem? Please describe.**
Buttons `children` prop are mandatory, however they should be optional.

**Describe the solution you'd like**
Make `children` prop optional.

[2020-10-15 12:26] #550 closed

[2020-10-19 10:30] SiAdcock commented on #575
Hi @liywjl, can you give me an example of where this would be useful? Note if you want only an icon to be visible, you can pass the [`hideLabel`](https://theguardian.design/2a1e5182b/p/435225-button/t/079205) prop

[2020-10-19 10:35] liywjl commented on #575
Here is an example of a work around we had to do in a recent update because `children` was a mandatory prop: https://github.com/guardian/discussion-rendering/pull/345/files#diff-b5928ae26d810ad0f00591179422632ce95a546bf892f9a776ace078f7b19d4dR296-R308

[2020-10-19 10:40] liywjl commented on #575
we had to add an empty object as child to satisfy the prop requirement:
[code]

ideally we wouldn't need to add the empty object:
[code]

[2020-10-19 10:42] SiAdcock commented on #575
Thanks @liywjl. The reason we make the children mandatory is to ensure something is announced to screen readers. Can you think of some text you can add that will help a screen reader user understand the purpose of the button? Apologies if you have implemented an alternative way of doing this.

[2020-10-19 11:19] liywjl commented on #575
I see that makes a lot more sense! I think however this behaviour isn't quite obvious, I noticed others leaving the object blank as well during upgrade. I am unsure what might be the best way of communicating this to other developers? Maybe add some documentation? Maybe use a separate prop for description?

[2020-10-19 11:34] SiAdcock commented on #575
Yes, it sounds like a tricky one. I agree the docs need more clarity regarding this.

Can you flesh out that proposal a little? Do you mean an optional prop that would be announced by screen readers when children are not passed? At this point, we need to make the (unsafe and untrue) assumption that everybody is testing their work with a screen reader, and that they question how to ensure that a bu

[2020-10-19 11:56] SiAdcock commented on #575
I've added an [Accessibility](https://theguardian.design/2a1e5182b/p/435225-button/t/80e083) section near the top of the Button documentation. Let me know if you think this will be helpful or if it could be improved.

[2020-10-19 13:11] #471 closed

[2020-10-22 11:04] liywjl commented on #575
Thanks for adding this 👍  I think this is a good step, if I have any better ideas I will share

[2020-10-22 11:04] #575 closed

[2020-10-22 12:53] liywjl opened #580 "Revert work around for chrome browser"
Regarding the issue raised here:
https://github.com/guardian/source/blob/main/src/core/components/radio/styles.ts#L118

it appears that it has been resolved:
https://bugs.chromium.org/p/chromium/issues/detail?id=375693#c88

We should therefore revert back to `display: flex`.

Note:
The `display:block` and `vertical-align:middle` work around did not seem to work for DCR (example below). I will do a

[2020-10-29 12:45] SiAdcock commented on #580
This is interesting, I will return to using `display:flex`, thanks @liywjl

Can I get a quick confirmation: is the screenshot here from a real use case? In [the Radio docs we recommend](https://www.theguardian.design/2a1e5182b/p/2891dd-radio-button/b/46940d/t/376e27) using horizontal radio buttons if there are only 2 answers.

[2020-11-11 14:43] liywjl commented on #580
Thank you for mentioning that, I made a fix on DCR to conditionally determine the orientation https://github.com/guardian/dotcom-rendering/pull/2034

[2020-11-11 14:43] #580 closed

[2020-11-13 11:33] SiAdcock commented on #402
I've been thinking about this some more.

## Assumptions

The purpose of a reset in Source is to ensure that our components will appear the same across all environments.

If the Source reset is used in conjunction with any other common reset (e.g. Meyer, Normalize), it should not conflict with or override any of those rules.

What is _should not_ do at this point is provide an opinionated reset to

[2020-11-16 13:39] SiAdcock commented on #402
I have kicked this up to the client side infra group as I don't think we can make this decision in isolation

https://github.com/orgs/guardian/teams/client-side-infra/discussions/17

[2020-11-17 14:56] SiAdcock commented on #526
All proposed layout components have now been implemented

[2020-11-17 14:56] #526 closed

[2020-11-18 15:25] SiAdcock opened #608 "Tiles in IE11"
**Describe the bug**

In IE11, a multi-column tile layout looks like a collapsed stack with no margin between tiles

**Expected behaviour**

Do we could just say that a tile layout is a stack in IE11, and respect y-space between tiles. Or do we fix it so it behaves the same as modern browsers?

**Screenshots**

IE11

![Screenshot 2020-11-18 at 14 35 21](https://user-images.githubusercontent.com/59

[2020-11-20 14:43] SiAdcock opened #614 "RFC: Dark mode support"
# tl;dr

Some of our platforms, notably the live apps, support dark mode. Some do not.

What is the best way to allow a platform to opt in to dark mode?

# What's the problem?

**Why don't we just add `prefers-color-scheme: dark` media queries to everything and let users decide whether they want to opt in to dark mode?**

We should totally respect user preferences where possible. However, it's not

[2020-11-25 13:50] liywjl opened #623 "RadioGroup allow `supporting` prop to be able to use `ReactNode`"
**Is your feature request related to a problem? Please describe.**

In some quizzes on frontend we have a supporting image next to the question (example: https://www.theguardian.com/football/that-1980s-sports-blog/2020/jun/12/sports-quiz-football-in-the-1980s look at question 4).

The best way to render the supporting image would be as part of the `RadioGroup` component. However there is no way to

[2020-11-27 17:59] JamieB-gu commented on #614
I think both approaches sound reasonable. The "Platform level" solution is a bit magic (globals reaching in and changing things), but the "Component level" solution is a little more boilerplate (extra props for Design System components). I think I lean a bit more toward the "Component level" option because I prefer things to be more explicit even if they require a tad more boilerplate.

[This func

[2020-12-01 11:04] SiAdcock opened #631 "Typography API (again) - Prefer absolute values over semantic names"
The [typography API](https://theguardian.design/2a1e5182b/p/95d5d0-code) maps font families and font sizes to create more readable semantic names. For example:

[code]

can be achieved using:

[code]

## Problems

There's a handful of problems with semantic font size and line height names:

- the names are **relative to _something_, but what?** What does `headline.medium` mean? When should we use

[2020-12-01 18:10] i-hardy commented on #631
I'm in favour of this. I know a couple of the semantic names as they translate to pixel sizes now, but I always end up spending a lot of time rooting around in the Source docs to translate font sizes from a design into code, and it's definitely a pain point.

[2020-12-02 14:13] oliverlloyd commented on #631
I would definitely prefer to see the actual values being used represented in the names - I've been caught out here a few times

[2020-12-03 10:45] tjsilver commented on #631
I think this would be a really useful change - I have also found myself having to follow the flow outlined in bullet point 3 above which is quite time-consuming.

[2020-12-09 10:45] #306 closed

[2020-12-09 10:45] #402 closed

[2020-12-09 10:45] #423 closed

[2020-12-09 10:45] #431 closed

[2020-12-09 10:45] #503 closed

[2020-12-09 10:45] #614 closed

[2020-12-09 10:45] #631 closed

[2020-12-14 16:09] liywjl opened #644 "Checkbox/Radio enable them to be required"
**Is your feature request related to a problem? Please describe.**
Unable to require a group of radio or checkboxes to be selected on a form

**Describe the solution you'd like**
Support `optional` prop for `RadioGroup` and `CheckboxGroup`

[2020-12-14 16:27] liywjl opened #645 "Support react `ref` for certain inputs"
**Is your feature request related to a problem? Please describe.**
When implementing certain accessiblity features, we sometimes need to refer to a specific DOM element (example an input in a form).

The common way to do this in React is to use ref (ex: `<div ref={someRef} />`). Currently in Source we do not have a way to support refs, as they cannot be spread like other props.

Instead other UI l

[2020-12-15 07:11] SiAdcock commented on #645
Thanks @liywjl . I originally raised this as #294 after we discussed this back in March. I got bogged down in TypeScript problems trying to support this and since you found a workaround, I put it down. Happy to look into it again if it would still be useful. It will be a breaking change so we can add it to the v4.0.0 roadmap.

When you say "support ref for certain inputs", do you think it would be

[2020-12-17 16:26] TomPretty opened #662 "Full width Radio labels"
**Is your feature request related to a problem? Please describe.**

The contributions landing page has this payment method selector

<img width="603" alt="Screenshot 2020-12-17 at 16 15 15" src="https://user-images.githubusercontent.com/17720442/102513556-43f5ae80-4083-11eb-956a-a1450c0e1469.png">

As it stands, I'm not sure if there's a great way to implement this with `src-radio`? Crucially we w

[2020-12-18 10:45] i-hardy opened #663 "Animation overlay span in Checkbox intercepts Selenium click events aimed at the underlying input"
**Describe the bug**
When running our Selenium tests against the Subscriptions checkouts, the tests are failing on Source checkboxes due to the span that provides the tick animation intercepting the click event. An example of a failed test run is here: https://travis-ci.org/github/guardian/support-frontend/builds/750209284

The same behavior appears whether using `clickOn` or the `checkbox(selecto

[2020-12-18 14:06] SiAdcock commented on #663
Thanks @i-hardy ! I’m on holiday for Christmas, but happy to accept a PR if you have time 🙂 I wonder if the same issue affects radio buttons too?

[2020-12-18 17:19] i-hardy commented on #663
The tests interact with the radio buttons too and don't seem to have the same issue, although it might be worth applying the same fix there too just in case if there's no visual regressions. I'll get a PR in 🙂

[2020-12-21 11:51] GHaberis opened #665 "Inclusion of new gift icon"
We've had to introduce a new svg gift box icon into the main navigation for "gifting" on `frontend` and `dotcom-rendering`, it'd be good to get this in source. Can I just raise a PR to include it?

<img width="124" alt="Screenshot 2020-12-21 at 11 51 02" src="https://user-images.githubusercontent.com/1590704/102774401-d1d2e180-4382-11eb-8d5e-1149f96a69a8.png">

[2020-12-29 10:58] SiAdcock commented on #665
Thanks for raising this @GHaberis. I'll discuss this with @akemitakagi when she's back in the office. The icon is not currently in our Figma library, so we'll need to add it or consider alternatives. When we have an icon in Figma, we can add it to the codebase – your help in doing this will be greatly appreciated 😍

I'll get back to you tomorrow.

[2020-12-29 11:28] SiAdcock commented on #644
Thanks @liywjl. For RadioGroup, we can apply the `required` attribute to each radio element. We can add a `radiogroup` role to the `fieldset` and apply the `aria-required` attribute if the `optional` prop is not specified.

Have you had instances when it has been necessary for `CheckboxGroup` to be required i.e. at least one checkbox must be selected from a group? I can imagine instances where a s

[2020-12-29 11:56] liywjl commented on #644
Yes I think supporting required for both `RadioGroup` and `CheckboxGroup` would be super useful. Currently we have an issue with not being able to enfore required in checkbox on a callout:

https://www.theguardian.com/politics/2020/may/05/boris-johnson-boasted-of-shaking-hands-on-day-sage-warned-not-to?dcr

I think as well for what you metioned a T&C checkbox would be super useful. Another area wh

[2020-12-29 13:19] #663 closed

[2020-12-30 13:48] SiAdcock commented on #665
@akemitakagi will work with designers to ensure this gets added to Figma.

@GHaberis would you be able to raise a PR adding it to the [icons](https://github.com/guardian/source/tree/main/src/core/icons) package? 🙏

[2020-12-30 14:01] SiAdcock commented on #662
Good point @TomPretty! Thanks for raising 🙂  I shall raise this with @akemitakagi and see if we can think what the best solution might be.

[2020-12-31 10:38] SiAdcock commented on #623
Hi @liywjl, thanks for requesting this. We'd be totally up for supporting it. Would you be able to raise a PR?

[2020-12-31 10:40] SiAdcock commented on #644
Great, thanks so much for the extra context @liywjl, we are happy to support this feature. It would be great for consistency too. Would you be up for raising a PR?

[2020-12-31 10:49] SiAdcock commented on #662
I'd be interested to hear how you've implemented this. Are you absolutely positioning the icons or something?

Maybe instead of the radio label accepting a string, it could accept a `ReactNode`. Then you can pass whatever you like as the label.

Possible examples:

[code]

[code]

[2021-01-04 08:26] TomPretty commented on #662
I think the label does accept a `ReactNode` at the moment, the issue that we faced is that it's rendered in this:

[code]

And we need that span to be full width. Our current hacky solution is to pass in some css to the `cssOverrides` prop of the `Radio` component that specifically targets that span.

[2021-01-04 09:00] SiAdcock commented on #662
I see, thanks for clarifying that!

I can see no reason why the `LabelText` needs to be a `<span>`, that looks like unnecessary tinkering on my part. The surrounding `<label>` is block level anyway, so it already fills the container.

I can restore `LabelText` to be a `<div>` again, and explicitly set the width to be 100%. If that would work for you, I can try and get a fix in quick.

[2021-01-04 09:07] TomPretty commented on #662
Yeah that sounds like it would work perfectly for us 👍

[2021-01-04 09:17] #662 closed

[2021-01-04 11:01] SiAdcock commented on #662
This is fixed in [2.8.1](https://github.com/guardian/source/releases/tag/2.8.1). Please let me know if you notice any issues

[2021-01-13 07:57] SiAdcock commented on #665
The Gift Icon is now available in Figma:

https://www.figma.com/file/Ai7AELHC6KCz38qKZkvuHo/Icons?node-id=355%3A0

[2021-02-01 10:34] SiAdcock opened #701 "Responsive column widths"
**Is your feature request related to a problem? Please describe.**

Column widths are not responsive. i.e. it's not possible for a column to take up 1/4 of the container width at desktop, but 1/2 the width at tablet

**Describe the solution you'd like**

It would be useful (and indeed 🆒) to create an API that handles that

 e.g. `<Column width={[1, 1/2]}>`

[2021-02-26 08:25] #701 closed

[2021-04-15 14:20] oliverlloyd opened #802 "`SvgChevronRightDouble` please!"
We already have a [chevron right (and left) single](https://github.com/guardian/source/blob/main/src/core/icons/chevron-left-single.tsx) but n0 double versions of them

This double svg is [already present in DCR](https://github.com/guardian/dotcom-rendering/blob/main/src/static/icons/chevron-right-double.svg) but that version isn't easily used with Source (too big)

![Screenshot 2021-04-15 at 15 2

[2021-04-16 09:10] SiAdcock commented on #802
They're in Figma, just not added to code yet:

https://www.figma.com/file/Ai7AELHC6KCz38qKZkvuHo/%E2%97%90-Icons?node-id=1188%3A0

[2021-05-20 19:36] SiAdcock commented on #802
Fixed by #811

[2021-05-20 19:36] #802 closed

[2021-05-25 14:18] #665 closed

[2021-06-21 09:24] oliverlloyd opened #835 "Social icons are not vertically centred"
The position of the `SvgGoogleBrand` and `SvgAppleBrand` icons is too high when they are using in `Button`

<img width="155" alt="Screenshot 2021-06-21 at 10 21 46" src="https://user-images.githubusercontent.com/1336821/122739278-bc2f6d80-d27a-11eb-8494-1c2421e2e43b.png">

It looks like they are not vertically centred in the 30x30 viewbox?
<img width="155" alt="Screenshot 2021-06-21 at 10 21 37" s

[2021-06-24 11:01] SiAdcock opened #838 "Give radio fieldset a role of radiogroup"
**Is your feature request related to a problem? Please describe.**

By default, `<fieldset>` elements have a [role of `group`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset#technical_summary). Updating the `role` to `radiogroup` adds extra information that screen readers can convey to users.

[2021-07-08 14:27] SiAdcock commented on #623
Fixed in #839

[2021-07-08 14:27] #623 closed

[2021-07-29 15:17] oliverlloyd opened #885 "Supporting text on TextInput is over-layed by focus halo"
**Describe the bug**
<img width="515" alt="Screenshot 2021-07-29 at 16 15 15" src="https://user-images.githubusercontent.com/1336821/127518541-13dfb1c8-d701-4eb2-a8d1-7aad6a421ea4.png">

[2021-08-02 11:58] SiAdcock opened #898 "Support success message in TextArea"
**Is your feature request related to a problem? Please describe.**

It is not possible to set a success message on the `TextArea` component. Currently it only supports an error message

**Describe the solution you'd like**

[Similar to `TextInput`](https://github.com/guardian/source/blob/845521ab39b003c3044600695ab70c864f4718e1/src/core/components/text-input/index.tsx#L64-L73), `TextArea` ought to

[2021-08-06 10:48] SiAdcock commented on #838
As mention in #902 there is an issue with eslint-plugin-jsx-a11y preventing us from making this change. It should have been fixed in jsx-eslint/eslint-plugin-jsx-a11y#746 but it doesn't appear to be live, or working?

[2022-01-12 14:18] #898 closed

[2022-03-10 18:09] JamieB-gu opened #1299 "Source Layout Components - Dark Mode"

[2022-04-06 10:39] mxdvl opened #1319 "Blurry `Lines` when zoomed"
**Describe the bug**
As reported by @paperboyo:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/76776/161956856-1f4cb61b-d925-41f1-8866-7f54edfcb5fd.png)

**Desktop (please complete the following information):**

-   OS: macOS
-   Browser: Firefox
-   Version: [e.g. 22]

**Additional context*

[2022-04-06 10:45] paperboyo commented on #1319
Thx! Basically, Firefox seem to render them lines at different widths when you zoom in and out. They should (possibly) be same width at all zoom levels. Just as these are:

![image](https://user-images.githubusercontent.com/6032869/161957847-3a775ff2-a849-489b-b932-4fca56c9f4ad.png)

![image](https://user-images.githubusercontent.com/6032869/161957918-779df544-652a-4d86-bb28-d89e06dfe362.png)

(hu

[2022-04-20 11:35] #1319 closed

[2022-05-17 14:17] tjsilver opened #1430 "Accessibility level AAA: Accordion toggle icons not displayed in inverted colour mode"
When users view the accordion in an inverted colour scheme, the toggle icon is not displayed. As a result of this users might not be aware that these are expandable elements.

The suggested solution involved using a media feature called [-ms-high-contrast](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/-ms-high-contrast) that is a) non-standard and not for use in production. There is a ne

[2022-05-17 14:28] tjsilver opened #1431 "Accessibility level AAA: Checkbox selection not displayed in inverted colour mode"
When users view the checkbox in an inverted colour scheme, they cannot see their selection within the checkbox. This is because a pseudo checkbox has been created within a span, which acts as a visual checkbox while the functioning checkbox is hidden behind.

The suggested solution involved using a media feature called [-ms-high-contrast](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/-ms

[2022-07-19 11:23] bryophyta opened #1484 "Reset for `abbr[title]` styling"
**Is your feature request related to a problem? Please describe.**
Browsers implement default styling in different ways for `abbr[title]` elements. This doesn't seem to currently be covered by Source's `reset` stylesheet.

**Describe the solution you'd like**
There seem to be accessibility concerns relating to this, in addition to stylistic ones, and currently we aren't sure whether it's better to

[2022-09-14 11:02] sndrs opened #1543 "test issue"
this is just a test for a team project

[2022-10-07 10:12] ashishpuliyel opened #1573 "this it not attached to a repo"

[2022-10-07 10:25] #1573 closed

[2022-10-07 10:27] #1543 closed

[2022-10-07 10:52] ashishpuliyel opened #1574 "Untangling emotion from source-foundations"
## Background
In some cases, we are exporting Emotion CSS from source-foundations. This goes against the principle that source-foundations should be agnostic as to which css-in-js frameworks it supports.

It also breaks the build for AMP in DCR, because it makes the assumption that some of the CSS we export is not Emotion CSS.

## Work done

Original PR that was closed and split into the two below

[2022-10-07 11:26] ob6160 commented on #1574
Following some discussion on https://github.com/guardian/source/pull/1568, we've decided to pause work on this and discuss our approach towards removing the dependency on emotion that we have in `source-foundations` instead of potentially setting it in stone by adding it as a peer dependency.

[2022-10-07 12:19] sndrs opened #1575 "Add Toggle switch component to code"
Create toggle switch component in Source code.

Document the process and any steps.

https://www.figma.com/file/DBRQVMYX4qwYmXm6NTlUQK/%E2%9C%AD-Toggle-Switch?node-id=1%3A311

There are three styles
1)

**Things to be updated**
DCR
1) Colour: Use green.400 (On) and neutral.46 (Off)
2) Animation for the tick. The tick should appear at the same time as the circle moves to the right.

Android
1)

iOS

[2022-10-07 12:46] sndrs opened #1576 "Move source to csnx"
relies on

- [ ] https://github.com/guardian/source/issues/1576
- [ ] https://github.com/guardian/source/pull/1608
- [x] https://github.com/guardian/CSTI-team/issues/2

[2022-10-07 12:46] sndrs opened #1631 "Move source to csnx"

[2022-10-07 14:17] sndrs opened #1577 "test"
this issue should automatically appear in [github.com/orgs/guardian/projects/61](https://github.com/orgs/guardian/projects/61) incoming column

[2022-10-07 14:19] sndrs opened #1578 "test"
this issue should automatically appear in [github.com/orgs/guardian/projects/61](https://github.com/orgs/guardian/projects/61) incoming column

[2022-10-07 14:21] sndrs opened #1579 "test"
this issue should automatically appear in [github.com/orgs/guardian/projects/61](https://github.com/orgs/guardian/projects/61) incoming column

[2022-10-07 14:26] #1579 closed

[2022-10-07 14:40] ob6160 opened #1580 "Field active state should override field error state"
See https://github.com/guardian/source/pull/1156

When field is active, the active border should be applied even if the field is in an error state

Here’s the flow chart for the form elements.
https://www.figma.com/file/4z53aFojeYVSMTpgZQzpDx/Flow-for-interactive-component?node-id=0%3A1

[2022-10-07 14:41] ob6160 opened #1581 "Text box field active state does not persist"
When you click in a text input box, the outline of the box should be blue while you are in it. Instead, it flashes blue, but then goes grey.

[2022-10-07 14:44] ob6160 opened #1582 "Create a form story in storybook"

[2022-10-07 14:53] ob6160 opened #1583 "Discuss element focus border accessibility with the DAC"
## Background

We currently show a larger focus border when a user tabs to a form input element versus when they click the same element. We make this decision based on some custom javascript ([FocusStyleManager](https://github.com/guardian/source/blob/main/packages/%40guardian/source-foundations/src/accessibility/focus-style-manager.ts)) that checks whether the user clicked or used the tab key to

[2022-10-07 14:56] ob6160 commented on #1583
This issue: https://github.com/guardian/source/issues/1582 should give us a good demonstration of each form element to show when we are looking at the behaviour of form elements' border style.

[2022-10-10 06:32] SiAdcock commented on #1583
It's worth mentioning that this is how it is defined in the :focus-visible spec. The second paragraph addresses the accessibility consideration behind this decision.

https://github.com/WICG/focus-visible/issues/131

[2022-10-10 09:14] #1575 closed

[2022-10-10 09:17] joecowton1 opened #1586 "Remove tooltip prop from ToggleSwitch"
The `tooltip` prop on the toggle switch does nothing currently, should we remove this?

closes #1586

[2022-10-11 09:40] #1586 closed

[2022-10-11 12:54] #1580 closed

[2022-10-12 14:17] #1574 closed

[2022-10-13 10:11] ashishpuliyel opened #1594 "Documentation for Source"
- What does it mean to contribute to the kitchen (contributing.md ? - see ticket in incoming on csnx)
- What is the difference between the kitchen and source (what does it mean to promote from the kitchen?)
- Surface the semver rules
- See https://trello.com/c/A8RwKTyg/1077-improve-source-docs for more.

[2022-10-19 15:39] ob6160 commented on #1583
Outcome of our conversation:

@akemitakagi is working on designs for common border thickness across our elements, this will mean that the `:focus-visible` pseudo-class can be used as there won't be a visible difference between focus borders on click vs tab interaction

DAC minimum requirements for focus borders:
- Border thickness in a focused state is at least 2px
- Colour contrast is at least 3:

[2022-10-21 09:54] tjsilver commented on #1594
`jc-ts/contributing-guidelines`

[2022-10-21 10:28] tjsilver commented on #1594
There is actually quite a lot of documentation about contributing on the [Dev Kitchen README](https://github.com/guardian/source/tree/main/packages/%40guardian/source-react-components-development-kitchen). Do we want to combine/move that with what we have added to CONTRIBUTING.md here? This might be more a case of consolidating what we already have in the way of documentation to make discovery eas

[2022-10-25 14:58] tjsilver commented on #1576
- [ ] Refactor Storybook in Source to make a more standard implementation
- [ ] Migrate src folder and changelog files from
  - [ ] source-foundations
  - [ ] source-react-components
  - [ ] source-react-components-development-kitchen
  - [ ] eslint-plugin-source-foundations
  - [ ] eslint-plugin-source-react-components
- [ ] Decide on whether to migrate git history
- [ ] Migrate git history if ap

[2022-11-07 15:17] ob6160 opened #1614 "Input error border investigation"

[2022-11-07 16:42] tjsilver commented on #1576
Migration steps

1. [ ] Raise PR
2. [ ] Fix review comments
3. [ ] Merge PR
4. [ ] Test
  4.1 [ ]  CI/CD
  4.2 [ ] NPM
  4.3 [ ] Storybook
  4.4 [ ] Documentation
5. [ ] Code freeze
  5.1 [ ] Choose a day for final transfer
  5.2 [ ] Draft email to department
  5.3 [ ] Merge existing PRs into Source repo
6. Make final copy of Source and changelogs
7. Archive Source repo
8. Defrost code

[2022-11-21 15:45] sndrs opened #1620 "Fix radio quiz answers in Source"
![Image](https://user-images.githubusercontent.com/77005274/203059150-4e8f9fe0-c1d5-4fb9-ab3a-5f6ca3ba200e.png)

[2022-11-29 11:04] humaislam commented on #1614
We'll wait on this one